:root{
    --primary-color: hsl(0, 0%, 0%);
    --background-primary-one-cards: #141414;
    --padding-content: 0 5em;
    --secundary-color: #0D6EFD;
}

*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    width: 100%;
    font-family: "DM Sans", sans-serif;
    background-color: var(--primary-color);
}

html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 12em;
}

html,body{
    width: 100%;
}

::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: hsla(0, 0%, 15%, 0.5);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: hsl(0, 0%, 77%);
  }

main{
    padding: var(--padding-content);
}
 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 0%, 13%, 0.457);
   -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
    padding: var(--padding-content);
    color: #fff;
   position: sticky;
    top: 0; 
}

.logo{
    width: 5em;
}



.header .nav_link a{
    text-decoration: none;
    padding: 1em; 
    color: hsl(0, 0%, 77%);
}

.header .nav_link i{
    cursor: pointer;
    padding: 0em 0.2em;
}

.header .nav_link a:focus{
    border-bottom:1px solid var(--secundary-color);
}

.header .nav_btn button:hover{
background-color: var(--secundary-color);
}

.content_menu{
    display: none;
    cursor: pointer;
}

/* .header .nav_link a:active{
    color: var(--secundary-color);
} */

.cashier1{
    margin-top: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
   /*  border: 1px solid red; */
}

.name_dev{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
}

.present{
    font-style: normal;
    margin: 0.4em 0em;
    font-weight: 300;
    font-size: 25px;
    color: hsl(0, 0%, 77%);
    line-height: 30px;
}

.name_profession{
    margin: 0.4em 0em;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
}

.description_profession{
    margin: 0.4em 0em;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    color: hsl(0, 0%, 77%);
}

.btn_about_me{
    padding: 1em 2em;
    margin: 0.4em 0em;
    background-color: transparent;
    border: 2px solid var(--secundary-color);
    border-radius: 0.5em;
    font-size: 16px ;
    font-weight: bold;
    transition: background-color 0.8s;
}


.midia_mobile{
    display: none;
}

.btn_about_me:hover{
    background-color: var(--secundary-color);
}

.img_mobile_cell{
    width: 100%;
    animation-name: actionMobileCell;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes actionMobileCell {
    from{
    rotate: -5deg;
    }
    to{
    rotate: 5deg;
    }
} */

.cashier2{
    margin-top: 10em;
}

.cashier2 .project{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    color: var(--secundary-color);
}

#cards{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}

#cards .card{
    background-color: var(--background-primary-one-cards);
    width: 20em;
    margin: 2em;
    padding: 1em 1em;
}

#cards .card .title{
   text-align: center;
   margin-bottom: 1em;
}

#cards .card .demonstration_project{
    width: 100%;
    margin-bottom: 1em;
}

#cards .card .description_project{
    text-align: center;
    margin-bottom: 1em;
    color: hsl(0, 0%, 77%);
}

#cards .card .technologies_project{
    text-align: center;
    margin-bottom: 1em;
    color: hsl(0, 0%, 77%);
}

#cards .card a{
    text-decoration: none;
    padding: 0.5em;
}

/* #cards .card .icon_project{
    display: flex;
    justify-content: center;
} */

.cashier3{
    margin-top: 10em;
}

.cashier3 .experience{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    color: var(--secundary-color);
}

.cashier3 #experienceCards{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.cashier3 .cardTechnology{
    /* background-color: var(--background-primary-one-cards); */
    margin: 2em;

}

.cashier3 .cardTechnology .icons{
    font-size: 6em;
    display: flex;
    justify-content: center;
}

.cashier3 .cardTechnology .icon_html:hover{
    color: #ff4d01;
}

.cashier3 .cardTechnology .icon_css:hover{
    color: #264DE4;
}

.cashier3 .cardTechnology .icon_js:hover{
    color: #F7DF1E;
}

.cashier3 .cardTechnology .icon_bootstrap:hover{
    color: #563D7C;
}

.cashier3 .cardTechnology .icon_php:hover{
    color: #484C89;
}

.cashier3 .cardTechnology .icon_mysql:hover{
    color: #00618A;
}


.cashier3 .cardTechnology .name_technology{
    text-align: center;
    font-style: normal;
    line-height: 73px;
    font-weight: 700;
    font-size: 2em;
}

.cashier4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.cashier4 .profile_photo img{
    border-radius: 1em;
    width: 20em;
}

.about_me{
    width: 40em;
    
}

.cashier4 .title_about_me{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: var(--secundary-color);
    line-height: 73px;
}

.cashier4 .description_about_me{
    font-size:larger;
    color: hsl(0, 0%, 77%);
}

.cashier5{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5em;
    align-items: center;
}


.contact1 p,.i{
    margin: 1em;
    color: hsl(0, 0%, 77%);
}

.contact1 a{
    margin: 2em;
    text-decoration: none;
}

.contact1 a button{
    margin: 2em;
    text-decoration: none;
}

.title_contact{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    color: var(--secundary-color);
    margin-bottom: 1em; 
    margin-top: 1em;
}

.contact1 a button{
    padding: 1em 2em;
    margin: 0.4em 0em;
    background-color: transparent;
    border: 2px solid var(--secundary-color);
    border-radius: 0.5em;
    font-size: 16px ;
    font-weight: bold;
    transition: background-color 0.8s;
}

.contact1 a button:hover{
    background-color: var(--secundary-color);
}

.contact2{
    display: none;
}

.fa-whatsapp{
    padding: 0em 0.5em;
}

form{
    color: hsl(0, 0%, 77%);
}

form input{
    margin: 0.5em 0em;
    width: 100%;
    height: 2em;
    color: hsl(0, 0%, 77%);
    font-weight: bold;
    font-size:smaller;
    border-radius: 0.5em;
    border: 1px solid #fff;
    background-color: transparent;
}

form textarea{
    background-color: transparent;
    font-weight: bold;
    font-size:smaller;
    border: 1px solid #fff;

}

form .submit{
    border: 2px solid var(--secundary-color);
    
}

form .submit:hover{
    background-color: var(--secundary-color); 
    transition: background-color 0.8s;   
}

footer{
    text-align: center;
    margin: 4em 0em;
}


@media   (max-width:1002px){
    .header{
        padding:0em 1em;
    }
    .content_menu{
        display:block;
    }
    .nav_link{
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .header .nav_link .midia{
       display: none;
    }
    .nav_link.show{
        display: flex;
    }
    .cashier1 .img_mobile{
        display: none;
    }
    .cashier1 .name_dev{
        font-size: 40px;
    }
    .cashier1 .name_profession{
        font-size: 40px;
    }
    .midia_mobile{
        display: inline-block;
        padding: 1em;
    }
    main{
        padding: 0 1.5em;
    }
    .cashier3 .cardTechnology .icon_html{
        color: #ff4d01;
    }
    form{
        margin-top: 4em;
    }
}


/* .hand-wave{
    animation-name: actionHand;
    animation-duration: 4s;

}

@keyframes actionHand {
    from{
        rotate: 0deg;
    }to{
        rotate: 30deg;
    }
} */